@model ITI.Survey.Web.UI.Models.InputNoMobilModel

@{
    ViewBag.Title = "INPUT NOMOR MOBIL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AGY.Solution.Helper;

<div class="row" id="inputnomormobil">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Input No Mobil</b>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="@Url.Action("InputMobil","InputNoMobil")" method="post">

                                
                                <div id="ErrorSummary">
                                    @Html.CustomValidationSummary()
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <div id="scanner-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">Cont Card ID</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" id="ContCardID" name="ContCardID" placeholder="ketik/scan kode kartu" class="form-control" maxlength="20" />
                                                    <span id="btnScan" class="input-group-addon btn-scan">Scan</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">atau silahkan upload file foto</label>
                                            </div>
                                            <div class="col-sm-6">


                                                <input id="barcodeFileInput" type="file" accept="image/*;capture=camera" /> <br />

                                                <div id="codeResult"> </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">Nomor Mobil</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name="NoMobil" class="form-control" maxlength="15" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">Angkutan</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name="Angkutan" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="IsComboCbx" value="" />
                                                        Is Combo
                                                        <input type="hidden" name="IsCombo" value="false" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="button" value="Proses" class="btn btn-primary btn-save" data-href="@Url.Action("InputMobil","InputNoMobil")"
                                                        data-confirm-msg="Submit Nomor Mobil?">
                                                    <span> Submit </span>
                                                </button>
                                                <button type="reset" value="New" class="btn btn-primary btn-new"><span> New </span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row hidden">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label id="ResultMessage" class="control-label"></label>
                                            </div>
                                            <div id="result_strip">
                                                <ul class="thumbnails"></ul>
                                            </div>
                                            <div id="interactive" class="viewport"></div>
                                            <div id="debug" class="detection"></div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/quagga.min.js"></script>

<script>


    var _scannerIsRunning = false;
    function DecoodeSingle() {
        var input = $("#barcodeFileInput");

        if (input[0].files && input[0].files.length) {

            var tmpImgURL = URL.createObjectURL(input[0].files[0]);

            Quagga.decodeSingle(

                {

                    inputStream: {

                        size: 640,

                        singleChannel: false

                    },

                    locator: {

                        patchSize: "large",

                        halfSample: false

                    },

                    decoder: {

                        readers: ["code_39_reader", "code_39_vin_reader"]

                    },

                    locate: true,
                    src: tmpImgURL

                },

                function (result) {

                    if (result && result.codeResult && result.codeResult.code) {

                        $("#ContCardID").val(result.codeResult.code);

                    } else {

                        $("#ContCardID").val("error");
                    }

                });
        }
    }

    function startScanner() {
        //SUPPORTS_MEDIA_DEVICES = 'mediaDevices' in navigator
        Quagga.init({
            inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector('#scanner-container'),
                constraints: {
                    width: 300,
                    height: 200,
                    facingMode: "environment"
                },
            },
            decoder: {
                readers: [
                    "code_39_reader",
                    "code_39_vin_reader"
                ],
                debug: {
                    showCanvas: true,
                    showPatches: true,
                    showFoundPatches: true,
                    showSkeleton: true,
                    showLabels: true,
                    showPatchLabels: true,
                    showRemainingPatchLabels: true,
                    boxFromPatches: {
                        showTransformed: true,
                        showTransformedBox: true,
                        showBB: true
                    }
                }
            },

        }, function (err) {
            if (err) {
                console.log(err);
                $("#ResultMessage").val(err);
                //document.getElementById("ResultMessage").innerHTML = err;
                return
            }

            console.log("Initialization finished. Ready to SCAN");
            //            alert("Initialization finished. Ready to SCAN");
            $("#ResultMessage").val("Initialization finished. Ready to SCAN");

            Quagga.start();

            // Set flag to is running
            _scannerIsRunning = true;
        });

        Quagga.onProcessed(function (result) {
            var drawingCtx = Quagga.canvas.ctx.overlay,
                drawingCanvas = Quagga.canvas.dom.overlay;

            if (result) {
                if (result.boxes) {
                    drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                    result.boxes.filter(function (box) {
                        return box !== result.box;
                    }).forEach(function (box) {
                        Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                    });
                }

                if (result.box) {
                    Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
                }

                if (result.codeResult && result.codeResult.code) {
                    Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
                }
            }
        });


        Quagga.onDetected(function (result) {
            // alert(result.codeResult.code);
            $("#ContCardID").val(result.codeResult.code);

        });
    }


    // Start/stop scanner
    document.getElementById("btnScan").addEventListener("click", function () {
        if (_scannerIsRunning) {
            _scannerIsRunning = false;
            document.getElementById("scanner-container").innerHTML = "";
            Quagga.stop();
        } else {
            _scannerIsRunning = true;
            startScanner();
        }
    }, false);
    //decode
    document.getElementById("barcodeFileInput").addEventListener("change", function () {
        if (_scannerIsRunning) {
            _scannerIsRunning = false;
            Quagga.stop();
        } else {
            _scannerIsRunning = false;
            DecoodeSingle();
        }
    }, false);

</script>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#IsComboCbx').click(function () {
                if ($(this).is(":checked"))
                    $('input[name="IsCombo"]:hidden').val(true);
                else
                    $('input[name="IsCombo"]:hidden').val(false);
            })
        })
    </script>
}