@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-4">lorem ipsum</div>
            <div class="col-md-8">Loremp ispsusmasdasdddddddddd asdsaaaaaaaaaaaaaaaa das dadddddddddddddasdasd asd asd daaaaaaaaaaaaaaaaaaa dasdsa dddddddddddddddddddddasdasd</div>
        </div>
    </div>
</div>