@{
    ViewBag.Title = "TASK";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>HOME</b>
            </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        Welcome to Survey Application v 1.0                         
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.navbar-toggle').click()
        });
    </script>
}
